[Unit]
Description=ContainerFS VolMgr Service

[Service]
ExecStart=/usr/local/bin/cfs-volmgr /usr/local/conf/cfs-volmgr.ini
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
Restart=on-failure

[Install]
WantedBy=multi-user.target
