#parse("include_header.vm")

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="page-title"><b>VOLUME</b></h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="javascript:void(0)">VOLUME列表</a>
                    </li>
                </ol>
                <form id="volForm" class="form-horizontal group-border-dashed">
                    <input type="hidden" name="pageSize" value="10" />
                    <div class="col-md-4" style="margin-bottom: 10px;">
                        <div class="input-group">
                            <input type="text" id="uuid" name="uuid" class="form-control"
                                   placeholder="请输入uuid" value="$!{volParam.uuid}"/>
                            <span class="input-group-btn">
                                <button id="searchList" onclick="searchVolumes();" type="submit" class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            ##                <div class="form-group" style="margin-left: 0px;">
            ##                    <button class="btn btn-info" ><i class="fa fa-check m-r-5"></i>Refresh</button>
            ##                    <button id="demo-add-row" class="btn btn-success"><i class="fa fa-check m-r-5"></i>Add</button>
            ##                </div>
                <table data-toggle="table"
                       data-page-size="10"
                       data-pagination="false" class="table-bordered ">
                    <thead>
                    <tr>
                        <th>UUID</th>
                        <th>名称</th>
                        <th>存储介质</th>
                        <th>已分配容量/申请总容量</th>
                        <th>剩余待分配容量</th>
                        <th>备份设置</th>
                    </tr>
                    </thead>
                    <tbody id="checkbox-select">
                        #foreach($item in $!{volumes})
                        <tr>
                            <td>
                                $item.uuid
                            </td>
                            <td>
                                $item.name
                            </td>
                            <td>
                                $item.tier
                            </td>
                            <td>
                                $item.allocatedSize G / $item.totalSize G
                            </td>
                            <td>
                                #set($freeSize=$!{item.totalSize} - $!{item.allocatedSize})
                                #if($freeSize>10)
                                    <span style="color: #2ca02c">$freeSize</span> G
                                #else
                                    <span style="color: red">$freeSize</span> G
                                #end
                            </td>
                            <td>
##                                <button type="button" class="btn-sm btn-default btn-custom btn-rounded waves-effect waves-light">snapshot设置</button>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            ##                #parse("common/page.vm")

            </div>
        </div>

    </div>

</div> <!-- container -->
<!-- jQuery  -->
<script language="JavaScript">
    $(function(){
        $("#uuid").blur(function(){
            $(this).val($.trim($(this).val()));
        });
    })
    function searchVolumes(){
        var ip=$("#ip").val();
        var frm=$("#volForm")
        frm.action="${ctx}/volumeList";
        frm.submit();
    }
</script>
#parse("include_footer.vm")
<script src="/static/utils/utils.list.button.js" type="text/javascript"></script>